body {
  height: 100vh;
  width: 100vw;
  background-color: #c6eeeb;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.App {
  padding: 10px;
  height: 600px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.stars-container {
  max-height: 100%;
  padding: 40px 20px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20%;
  row-gap: 20px;
  align-items: center;
}

.star {
  width: 100%;
  height: 100%;
  background-color: #adce49;
  border-radius: 5px;
}

.key-pad {
  margin-top: 5px;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
}

button {
  border: solid 0.5px red; 
}

@media only screen and (min-width: 600px) {
  .App {
    height: 320px;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  h3{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .stars-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .key-pad {
    margin-top: 0px;
  }

  .key {
    margin: 0px;
  }

  button{
    border: solid thin blue;
  }
}