body {
  height: 100vh;
  width: 100vw;
  background-color: #c6eeeb;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.App {
  padding: 10px;
  height: 600px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
}


.stars-container {
  height: 100%;
  background-color: #FFF;
}

.key-pad {
  margin-top: 5px;
  height: 100%;
  background-color: turquoise;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

button {
  border: solid 0.5px red; 
}